<section id="about" class="about--section--quienes--somos">
  <div class="about--conten">
    <div class="about--conten--eslogan">
      <h2>Quienos somos</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero dolores quasi officiis dolorem optio quo
        eius deserunt omnis adipisci, eaque voluptatibus illo corporis et repellendus modi enim blanditiis
        aspernatur quibusdam!</p>
    </div>

    <div class="about--conten--img">
      <img src="/images/banners/38749783_10214366295723787_7336153133430603776_n.jpg" alt="">
      <h2>Nahuel</h2>
       <p>back end</p>
      <div id="persona1" class="about--section--persona">

        <div class="about--section--persona--logo">
          <h2>Nahuel</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione qui debitis assumenda obcaecati
            provident voluptate cum. Ea natus saepe aut facere et repellat, veritatis quisquam amet illum a ad
            labore!
          </p>
        </div>
        <div class="home--section--persona--description">
          <div class="about--section--persona--descroption-1">
            <h2>Estudios</h2>
            <i id="html" class="fab fa-html5"></i>
            <i id="css" class="fab fa-css3-alt"></i>
            <i id="js" class="fab fa-js"></i>
          </div>
          <div class="about--section--persona--descroption-1">
            <h2>Area de Trabajo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deserunt! Velit illum fugiat
              quod
              cupiditate dolor libero perferendis, consequatur, dolore beatae sed voluptatem nihil voluptatibus
              dignissimos autem expedita ex? Numquam!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about--conten--img">
      <img src="/images/banners/38749783_10214366295723787_7336153133430603776_n.jpg" alt="">
      <h2>Nahuel</h2>
      <p>Front end</p>
      <div id="persona2" class="about--section--persona--2">

        <div class="about--section--persona--logo">
          <h2>Nahuel</h2>
          <p> Me apasiona el diseño web y disfruto colaborando en equipo para crear experiencias de usuario
            excepcionales. Mi atención al detalle y compromiso con la calidad aseguran proyectos eficientes y bien
            ejecutados.
          </p>
        </div>

        <div class="home--section--persona--description">
          <div class="about--section--persona--descroption-1">
            <h2>Estudios</h2>
            <i id="html" class="fab fa-html5"></i>
            <i id="css" class="fab fa-css3-alt"></i>
            <i id="js" class="fab fa-js"></i>
          </div>
        </div>
        <div class="about--section--persona--descroption-1">
          <h2>Area de Trabajo</h2>
          <p>Soy, un desarrollador front-end con experiencia en la creación de interfaces de usuario intuitivas y
            atractivas. Manejo tecnologías como HTML, CSS y JavaScript</p>
        </div>
      </div>

    </div>
  </div>

  </div>

</section>