<section id="about" class="about--section--quienes--somos">
  <div class="about--conten">

    <div class="about--conten--eslogan">
      <h2>Quienes somos</h2>
      <p>Bienvenidos a Web Design Solutions, donde combinamos creatividad, experiencia y tecnología para ofrecer soluciones digitales excepcionales. Desde nuestra fundación, nos hemos dedicado a ayudar a empresas y emprendedores a alcanzar sus objetivos en línea mediante el desarrollo de páginas web profesionales, servicios de consultoría estratégica y optimización para motores de búsqueda (SEO).
        <br>
        Nuestra misión es empoderar a nuestros clientes con herramientas digitales innovadoras que les permitan destacar en un entorno competitivo. Nos esforzamos por crear experiencias web atractivas y funcionales que no solo cumplan con las expectativas de nuestros clientes, sino que las superen.</p>
    </div>

    <!-- FOTO, NOMBRE Y CARGO -->
    <div class="about--conten--img">
      <img src="/images/banners/38749783_10214366295723787_7336153133430603776_n.jpg" alt="">
      <h2>Nahuel</h2>
      <p>back end</p>
      <div id="persona1" class="about--section--persona">
        <!-- DESCRIPCION -->
        <div class="about--section--persona--logo">
          <h2>Nahuel</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione qui debitis assumenda obcaecati
            provident voluptate cum. Ea natus saepe aut facere et repellat, veritatis quisquam amet illum a ad
            labore!
          </p>
        </div>
        <div class="home--section--persona--description">
          <div class="about--section--persona--descroption-1">
            <h2>Estudios</h2>
            <i id="html" class="fab fa-html5"></i>
            <i id="css" class="fab fa-css3-alt"></i>
            <i id="js" class="fab fa-js"></i>
          </div>
          <div class="about--section--persona--descroption-1">
            <h2>Area de Trabajo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deserunt! Velit illum fugiat
              quod
              cupiditate dolor libero perferendis, consequatur, dolore beatae sed voluptatem nihil voluptatibus
              dignissimos autem expedita ex? Numquam!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about--conten--img">
      <img src="/images/banners/38749783_10214366295723787_7336153133430603776_n.jpg" alt="">
      <h2>Nahuel</h2>
      <p>Front end</p>
      <div id="persona2" class="about--section--persona--2">

        <div class="about--section--persona--logo">
          <h2>Nahuel</h2>
          <p> Me apasiona el diseño web y disfruto colaborando en equipo para crear experiencias de usuario
            excepcionales. Mi atención al detalle y compromiso con la calidad aseguran proyectos eficientes y bien
            ejecutados.
          </p>
        </div>

        <div class="home--section--persona--description">
          <div class="about--section--persona--descroption-1">
            <h2>Estudios</h2>
            <i id="html" class="fab fa-html5"></i>
            <i id="css" class="fab fa-css3-alt"></i>
            <i id="js" class="fab fa-js"></i>
          </div>
        </div>
        <div class="about--section--persona--descroption-1">
          <h2>Area de Trabajo</h2>
          <p>Soy, un desarrollador front-end con experiencia en la creación de interfaces de usuario intuitivas y
            atractivas. Manejo tecnologías como HTML, CSS y JavaScript</p>
        </div>
      </div>

    </div>
  </div>

  </div>

</section>