<section id="about" class="about--section--quienes--somos">


  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Nahuel</h1>
    <h2>front end</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur temporibus molestiae dolorem unde id
      esse animi provident consequuntur cupiditate praesentium fugiat repellendus, cumque, dolores odit. Sint cumque
      natus earum!</p>
  </article>

  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Nahuel</h1>
    <h2>back end</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur temporibus molestiae dolorem unde id
      esse animi provident consequuntur cupiditate praesentium fugiat repellendus, cumque, dolores odit. Sint cumque
      natus earum!</p>
  </article>


</section>