<section id="about" class="about--section--quienes--somos">

<<<<<<< HEAD
    <div class="about--conten--eslogan">
      <h2>Quienes somos</h2>
      <p>Bienvenidos a Web Design Solutions, donde combinamos creatividad, experiencia y tecnología para ofrecer soluciones digitales excepcionales. Desde nuestra fundación, nos hemos dedicado a ayudar a empresas y emprendedores a alcanzar sus objetivos en línea mediante el desarrollo de páginas web profesionales, servicios de consultoría estratégica y optimización para motores de búsqueda (SEO).
        <br>
        Nuestra misión es empoderar a nuestros clientes con herramientas digitales innovadoras que les permitan destacar en un entorno competitivo. Nos esforzamos por crear experiencias web atractivas y funcionales que no solo cumplan con las expectativas de nuestros clientes, sino que las superen.</p>
    </div>
=======
  <article class="about--section--article--texto">
    <h1>Queines somos</h1>
    <p>Bienvenidos a Web Design Solutions, donde combinamos creatividad, experiencia y tecnología para ofrecer
      soluciones digitales excepcionales. Desde nuestra fundación, nos hemos dedicado a ayudar a empresas y
      emprendedores a alcanzar sus objetivos en línea mediante el desarrollo de páginas web profesionales, servicios de
      consultoría estratégica y optimización para motores de búsqueda (SEO).
      <br>
      Nuestra misión es empoderar a nuestros clientes con herramientas digitales innovadoras que les permitan destacar
      en un entorno competitivo. Nos esforzamos por crear experiencias web atractivas y funcionales que no solo cumplan
      con las expectativas de nuestros clientes, sino que las superen.
    </p>
>>>>>>> 5dcb6f5d664f22ab44c699a3a6781ce0e6de6040

  </article>

  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Nahuel</h1>
    <h2>front end</h2>
    <p>Soy, un desarrollador front-end con experiencia en la creación de interfaces de usuario intuitivas y atractivas.
      Manejo tecnologías como HTML, CSS y JavaScript, Me apasiona el diseño web. Mi atención al detalle y compromiso con la calidad aseguran proyectos
      eficientes y bien ejecutados.</p>
  </article>

  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Nahuel</h1>
    <h2>back end</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur temporibus molestiae dolorem unde id
      esse animi provident consequuntur cupiditate praesentium fugiat repellendus, cumque, dolores odit. Sint cumque
      natus earum!</p>
  </article>


</section>