<section id="about" class="about--section--quienes--somos">

  <article class="about--section--article--texto">
    <h1>Quienes somos</h1>
    <div>
      <img src="/images/about.jpg" alt="nahuel">
    </div>
    <div class="texto">
      <p>Bienvenidos a Web Design Solutions, donde combinamos creatividad, experiencia y tecnología para ofrecer
      soluciones digitales excepcionales. Desde nuestra agencia, nos hemos dedicado a ayudar a empresas y
      emprendedores a alcanzar sus objetivos en línea mediante el desarrollo de páginas web robustas y profesionales, servicios de
      consultoría estratégica y optimización para motores de búsqueda (SEO).
      <br>
      <br>
      Nuestra misión es empoderar a nuestros clientes con herramientas digitales innovadoras que les permitan destacar
      en un entorno competitivo. Nos esforzamos por crear experiencias web atractivas y funcionales que no solo cumplan
      con las expectativas de nuestros clientes, sino que las superen.
    </p>
    </div>
    
    

  </article>

  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Nahuel </h1>
    <h2>Front-End Leader</h2>
    <p> Desarrollador front-end con sólida experiencia en la creación de interfaces de usuario intuitivas y atractivas. Domina tecnologías como HTML, CSS, JavaScript y React.js, garantizando resultados excepcionales en cada proyecto.
      eficientes y bien ejecutados.</p>
  </article>


  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Maximiliano Alonso</h1>
    <h2>Back-End Technical Lead</h2>
    <p>Programador back-end especializado en Node.js, APIs, seguridad y bases de datos. Encargado de crear sistemas robustos y escalables que garantizan el funcionamiento eficiente y seguro de nuestras aplicaciones web</p>
  </article>
  
  <article class="about--section--article">
    <img src="/images/banners/nahuel.jpg" alt="nahuel">
    <h1>Debora Escobar
      
    </h1>
    <h2>UX Designer</h2>
    <p>Diseñadora UX, especializada en crear interfaces intuitivas y eficientes. Experta en HTML, CSS, JavaScript y prototipado para optimizar la experiencia del usuario en productos digitales</p>
  </article>


</section>