<footer class="footer">
    <div class="footer--info">
      <div class="footer--info--redes">
        <h3>Nestras redes</h3>
        <ul>
          <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#">Redes sociales</a></li>
          <li><a href="#">Redes sociales</a></li>
          <li><a href="#">Redes sociales</a></li>
        </ul>
      </div>
     <div class="footer--info--contactos">
      <h3>Contactos</h3>
      <ul>
        <li>Contactos</li>
        <li>Contactos</li>
        <li>Contactos</li>
        <li>Contactos</li>
        <li>Contactos</li>
      </ul>
     </div>
     <div class="footer--info--menu">
      <h3 >Menu</h3>
      <ul>
        <li><a href="#">Redes sociales</a></li>
        <li><a href="#">Redes sociales</a></li>
        <li><a href="#">Redes sociales</a></li>
        <li><a href="#">Redes sociales</a></li>
      </ul>
    </div>
    </div>
  </footer>