<footer class="footer">
  <div class="footer--info">
    <div class="footer--info--redes">
      <h3>| Nestras redes |</h3>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=Am2EjrZR3Q8&t=14s"><i class="fab fa-youtube"></i> You Tube</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=61559146510461"><i class="fab fa-facebook"></i> Facebook</a></li>
      <!--   <li><a href=""> <i class="fa-brands fa-linkedin"></i>Linkedin</a></li> -->
        <li><a href=""><i class="fa-brands fa-instagram"></i>Instagram</a></li>
       
        
      </ul>
    </div>
    <div class="footer--info--contactos">
      <h3>| Contactos |</h3>
      <ul>
        <li><a href="https://discord.com/channels/@me"><i class="fab fa-discord"></i> Discort</a></li>
        <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i> Linkedin</a></li>
        <li><a href="https://walink.co/324dc8"><i class="fab fa-whatsapp"></i> Teléfonos: 1156171376 / 1159143248</a></li>
        <li><a href="/contact"><i class="fas fa-at"></i> WebDesignSolutions24@gmail.com</a></li>      
      </ul>
    </div>
    <div class="footer--info--menu">
      <h3>| Menu |</h3>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/protfolio">PORTFOLIO</a></li>
        <li><a href="/contact">CONTACTS</a></li>
      </ul>
    </div>
  </div>
</footer>