<header class="header">
    <div class="header--menu--logo">
        <img class="header--logo" src="/images/logo_Sin_fondo.png" alt="">
        <nav class="header--menu">
            <ul class="header--menu--items">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/protfolio">PORTFOLIO</a></li>
                <li><a href="/servicios">SERVICES</a></li>
                <li><a href="/contact">CONTACTS</a></li>
            </ul>
        </nav>
    </div>
    

</header>