<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head',{title: "About" })%>

  <body>
    <%-include('./partials/header')%>
      <main class="about">

        <section>
          <h1>Colaboradores</h1>
          
          <div class="about--section--persona">

            <div>
              <h2>Nahuel</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione qui debitis assumenda obcaecati
                provident voluptate cum. Ea natus saepe aut facere et repellat, veritatis quisquam amet illum a ad
                labore!
              </p>
            </div>
            <div>
              <h2>Estudios</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deserunt! Velit illum fugiat quod
                cupiditate dolor libero perferendis, consequatur, dolore beatae sed voluptatem nihil voluptatibus
                dignissimos autem expedita ex? Numquam!</p>
            </div>
            <div>
              <h2>Area de Trabajo</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deserunt! Velit illum fugiat quod
                cupiditate dolor libero perferendis, consequatur, dolore beatae sed voluptatem nihil voluptatibus
                dignissimos autem expedita ex? Numquam!</p>
            </div>

          </div>
          <div class="about--section--persona">

            <div>
              <h2>Nahuel</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione qui debitis assumenda obcaecati
                provident voluptate cum. Ea natus saepe aut facere et repellat, veritatis quisquam amet illum a ad
                labore!
              </p>
            </div>
            <div>
              <h2>Estudios</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deserunt! Velit illum fugiat quod
                cupiditate dolor libero perferendis, consequatur, dolore beatae sed voluptatem nihil voluptatibus
                dignissimos autem expedita ex? Numquam!</p>
            </div>
            <div>
              <h2>Area de Trabajo</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deserunt! Velit illum fugiat quod
                cupiditate dolor libero perferendis, consequatur, dolore beatae sed voluptatem nihil voluptatibus
                dignissimos autem expedita ex? Numquam!</p>
            </div>

          </div>
        </section>
      </main>
  </body>

</html>