<!DOCTYPE html>
<html>

<%-include('./partials/head') %>

  <body>
    <%-include('./partials/header') %>

      <main class="home">

      




        <h1 class="text-center m-3">Modelos de paginas </h1>
        <section class="home--section--card">
          
          <div class="home--section--card-items">

            <h1 class="m-2 text-center">Landing Page </h1>

            <p>Una landing page, o página de destino, es una página web diseñada específicamente para convertir
              visitantes en leads o clientes. Un resumen corto en una landing page es esencial para captar la atención
              de los visitantes de inmediato y comunicar de manera clara y directa el valor de lo que se ofrece. Aquí
              tienes algunos consejos y un ejemplo de cómo crear un resumen corto efectivo para una landing page</p>

            <a class="btn btn-danger m-2 w-25" href="/servicios">Ver mas</a>


          </div>
          <div class="home--section--card-items">

            <h1 class="m-2 text-center">Landing Page </h1>

            <p>Una landing page, o página de destino, es una página web diseñada específicamente para convertir
              visitantes en leads o clientes. Un resumen corto en una landing page es esencial para captar la atención
              de los visitantes de inmediato y comunicar de manera clara y directa el valor de lo que se ofrece. Aquí
              tienes algunos consejos y un ejemplo de cómo crear un resumen corto efectivo para una landing page</p>

            <a class="btn btn-danger m-2 w-25" href="/servicios">Ver mas</a>


          </div>
          <div class="home--section--card-items">

            <h1 class="m-2 text-center">Landing Page </h1>

            <p>Una landing page, o página de destino, es una página web diseñada específicamente para convertir
              visitantes en leads o clientes. Un resumen corto en una landing page es esencial para captar la atención
              de los visitantes de inmediato y comunicar de manera clara y directa el valor de lo que se ofrece. Aquí
              tienes algunos consejos y un ejemplo de cómo crear un resumen corto efectivo para una landing page</p>

            <a class="btn btn-danger m-2 w-25" href="/servicios">Ver mas</a>


          </div>
       
        



        </section>

        <h1 class="text-center m-3">NOSOTROS</h1>

        <section class="home--section--about">
              
          <div class="home--section--persona">
            <img src="/images/imagen2.jpg" alt="">
            <div class="home--section--persona--description">
              <h2>NOMBRE</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, consequatur iste consequuntur unde
              sequi quisquam, excepturi in exercitationem quos sit, tempore cupiditate ipsam ab quaerat voluptas. Ex
              corrupti dolores hic.</p>
            <a class="btn btn-danger m-2 w-25" href="/about">Ver más</a>
            </div>
            </div>

          <div class="home--section--persona">
            <img src="/images/imagen2.jpg" alt="">
            <div class="home--section--persona--description">
              <h2>NOMBRE</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, consequatur iste consequuntur unde
              sequi quisquam, excepturi in exercitationem quos sit, tempore cupiditate ipsam ab quaerat voluptas. Ex
              corrupti dolores hic.</p>
            <a class="btn btn-danger m-2 w-25" href="/about">Ver más</a>
            </div>
            
            
          </div>

        </section>
      </main>
      <footer class="footer">
        <div class="footer--info">
          <div class="footer--info--redes">
            <h3>Nestras redes</h3>
            <ul>
              <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#">Redes sociales</a></li>
              <li><a href="#">Redes sociales</a></li>
              <li><a href="#">Redes sociales</a></li>
            </ul>
          </div>
         <div class="footer--info--contactos">
          <h3>Contactos</h3>
          <ul>
            <li>Contactos</li>
            <li>Contactos</li>
            <li>Contactos</li>
            <li>Contactos</li>
            <li>Contactos</li>
          </ul>
         </div>
         <div class="footer--info--menu">
          <h3 >Menu</h3>
          <ul>
            <li><a href="#">Redes sociales</a></li>
            <li><a href="#">Redes sociales</a></li>
            <li><a href="#">Redes sociales</a></li>
            <li><a href="#">Redes sociales</a></li>
          </ul>
        </div>
        </div>
      </footer>
  </body>

</html>