<!DOCTYPE html>
<html>

<%-include('./partials/head',{title: "Web Design Solutions" }) %>

  <body>
    <%-include('./partials/header') %>
      <main class="home">
        <section>

          <div class="home--baner">
            <img src="/images/banner.jpg" alt="">
            <pre>"Desarrollamos tu visión,
                  un pixel a la vez"</pre>
          </div>

        </section>


        <section class="home--section--card">

          <div class="swiper mySwiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide ">

                <div class="home--section--card-items">

                  <h2>Landing Page</h2>
                  <p>Una página enfocada en convertir visitantes en leads o clientes mediante un contenido persuasivo y
                    una llamada a la acción clara.</p>
                  </ul>
                  <a class="btn btn-danger m-2 w-25" href="/tipos_de_paginas/landing">Ver mas</a>
                </div>


              </div>
              <div class="swiper-slide">
                <div class="home--section--card-items">
                  <h2>Institucional</h2>
                  <p> Una página web que representa a una organización, generalmente una entidad gubernamental,
                    educativa o sin fines de lucro, proporcionando información oficial y recursos para el público.</p>
                  </ul>
                  <a class="btn btn-danger m-2 w-25" href="/tipos_de_paginas/institucional">Ver mas</a>
                </div>
              </div>


              <div class="swiper-slide">
                <div class="home--section--card-items">
                  <h2>Web Corporativa</h2>
                  <p>El sitio oficial de una empresa que proporciona información sobre sus productos, servicios, misión
                    y valores.</p>
                  <a class="btn btn-danger m-2 w-25" href="/tipos_de_paginas/corporativa">Ver mas</a>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="home--section--card-items">

                  <h2>Tienda Virtual</h2>
                  <p>Un sitio web que permite la compra y venta de productos o servicios en línea, con sistemas de
                    carrito de compras y pagos seguros.</p>
                  <a class="btn btn-danger m-2 w-25" href="#">Ver mas</a>


                </div>

              </div>
              <div class="swiper-slide">
                <div class="home--section--card-items">

                  <h2>Blog</h2>
                  <p>Un sitio web actualizado regularmente con artículos o entradas sobre diversos temas, escritos por
                    uno o varios autores.</p>
                  <a class="btn btn-danger m-2 w-25" href="/tipos_de_paginas/blog">Ver mas</a>

                </div>
              </div>
              <div class="swiper-slide">
                <div class="home--section--card-items">

                  <h2>Portal de Noticias</h2>
                  <p>Un sitio web que proporciona noticias y actualizaciones en tiempo real sobre diversos temas como
                    política, economía, deportes y entretenimiento.</p>
                  <a class="btn btn-danger m-2 w-25" href="/tipos_de_paginas/noticias">Ver mas</a>


                </div>

              </div>
            </div>

        </section>


        <section>
          <div class="home--section--promociones">
            <img src="/images/1.jpg" alt="">
          </div>
          
        </section>

       <%- include('./partials/about') %>


      </main>
      <%-include('./partials/footer') %>


  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="../javascript/swiper.js"></script>


</html>