<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head',{title:"Portfolio"})  %>

    <body>
      <%-include('./partials/header')  %>
   <main class="proyects">
  <img  src="https://miro.medium.com/v2/resize:fit:1024/1*mwXHpdt6CTQHxH78dwc6NA.jpeg" alt="">
    <section>
      <article>

      </article>
      <article>

      </article>
    </section>
   </main>
   <%-include('./partials/footer')  %>
</body>
<%-include('./partials/scripts') %>
</html>