.about--section--quienes--somos{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 15px;
width: 70%;
margin: 0 auto;
}


.about--section--article{
  display: inline-block;
  text-align: center;
  width: 320px;
  height: 450px;
  padding: 15px;
  border-radius: 10px ;
  background-color: aliceblue;
}

.about--section--article img{
  display: inline-block;
  width: 150px;
  border-radius: 100%;
}

.about--section--article h1, .about--section--article h2{
  padding: 10px 0;
}