.footer {
  background-color: rgb(194, 193, 189);
}

.footer--info {
  display: flex;
  justify-content: space-around;
}

.footer--info--redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  padding: 15px;
  text-align: center;
}
.footer--info--redes ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer--info--contactos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 15px;
    text-align: center;
}
.footer--info--contactos ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer--info--menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
}
.footer--info--menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer a{
    font-weight: 700;
   
    font-size: 1rem;
}