.footer {
 background-color: skyblue;
 border-radius: 30px 100px 0 0 ;
 margin: 30px auto 0;
 width: 90%;
 max-width: 1500px;
}

.footer--info {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.footer--info--redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  padding: 15px;
  text-align: center;
}
.footer--info--redes ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer--info--contactos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 15px;
    text-align: center;
}
.footer--info--contactos ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer--info--menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
}
.footer--info--menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer a{
    font-weight: 700;
   
    font-size: 1rem;
}

@media (max-width:767px) {
  .footer--info--menu{
    display: none;
  }

  .footer--info--redes{
    display: none;
  }
}