.home {
  margin: 0 auto;
  width: 80%;
}

.home--baner{
 width: 1280px;
margin: 0 auto; 

}
.home--baner video{
  width: 100%;
  margin: 0 auto;

}

/* TIPOS DE PAGINA */
.home--section--card {
  display: flex;
/*   justify-content: center;   */
  background: url("../images/webTypes1.webp");
  background-repeat: no-repeat;
  background-size: cover;
 
}

.home--section--card-items {
display: flex;
width: 100%;
height: 500px;
flex-wrap: wrap;
  border-radius: 5px;
  position: relative;
  
}

.home--section--card-items h2{
  width: 100%;
  font-size: 40px;
margin-top: 150px;
}
.home--section--card-items p{
line-height: 35px;
letter-spacing: 2px;
width: 50%;
height: 200px;
margin: 0 auto;
font-size: 28px;

}
.home--section--card-items a{
position: absolute;
bottom: 10px;
right: 10px;
background-color: bisque;
padding: 10px;
border-radius: 10px;
}




.home--section--about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 40px auto;
}

.home--section--persona {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: var(--colorBlanco);
}
.home--section--persona h2 {
  width: 100%;
}
.home--section--persona p {
  width: 100%;
}

.home--section--persona img {
  width: 50%;
}

.home--section--persona--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}


.swiper {
  width: 100%;
  height: 100%

}

.swiper-slide {

  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;

  align-items: center;
}

